@media (max-width: 1024px) { 
    #menu-icon {
        display: block;
        font-size: 1.5rem;
    }

    .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        width: 50%;
        padding: 1rem 3rem;
        background-color: rgba(0, 0, 0, 0.8);
        border-left: 2px solid #007BFF;
        border-bottom: 2px solid #007BFF;
        border-bottom-left-radius: 2rem;
        display: none;
    }

    .navbar.active { 
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: #fff;
    }

    .home {
        flex-direction: column-reverse; 
        margin: 5rem 0;
        gap: 5rem; 
    }

    .home-content, .about {
        text-align: center;
        align-items: center;
    }

    .home-img img, .about-img {
        width: 52vw;
    }

    .contact-form { 
        flex-direction: column; 
    }     
}

@media (max-width: 600px) {
    #menu-icon {
        font-size: 1.5rem;
    }

    .navbar {
        width: 100%;
        padding: 1rem;
    }

    .navbar a {
        font-size: 1.5rem;
        margin: 2rem 0;
    }

    .home-img img, .about-img {
        width: 80vw;
    }

    .home-content, .about {
        padding: 1rem;
    }

    .contact-form {
        padding: 1rem;
    }

    .contact-form input, .contact-form textarea {
        font-size: 1rem;
        margin-bottom: 1rem;
        width: 100%;
    }

    h1 {
        font-size: 5vw;
    }

    h2 {
        font-size: 4vw;
    }

    p {
        font-size: 1.2rem;
    }
}
